<h1>No.<%= @task.id %> タスク詳細</h1>

<p><%= @task.content %></p>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'タスクを更新する', edit_task_path(@task) %>
<%= link_to 'タスクを削除する', @message, method: :delete, data: {confirm: '本当に削除しますか?' } %>
